body, ul,p {
    padding: 0;
    margin: 0;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #2c3e50;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #2c3e50;

}
:focus {
    outline: none;
}

.navbar, .sidebar {
    position: fixed;
    top: 0;
    left: 0;
}
.navbar {
    right: 0;
    padding: .7rem 1.5rem;
    line-height: 2.2rem;
    height: 3.6rem;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef;
}
.sidebar {
    font-size: 16px;
    background-color: #fff;
    width: 20rem;
    top: 3.6rem;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    border-right: 1px solid #eaecef;
    overflow-y: auto;
}
.sidebar .ul-0 {
    /* margin-top: -1.05rem; */
}
.sidebar .a-0,.sidebar .a-2 {
    font-weight: 600;
    position: relative;
    color: #939da3;
    font-size: 1.1em;
    padding: 1rem 1.5rem .35rem 1.25rem;
    width: 100%;
    box-sizing: border-box;
    border-left: .25rem solid transparent;
    border-top: 1px solid rgba(0,0,0,.07);
    margin-top: 1rem;
}

.sidebar .active {
    font-weight: 600;
    color: #3eaf7c;
    border-left-color: #3eaf7c;
}
.sidebar .li-3 .active{
    border-left: none;
}
.sidebar a {
    padding-left: 2rem;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
    border-left: .25rem solid transparent;
    padding: .35rem 1rem .35rem 1.25rem;
    line-height: 1.4;
    width: 100%;
    box-sizing: border-box;
}
.sidebar a.cur {
    color: #3eaf7c;
    font-weight: 600;
}
.sidebar .ul-0 ul{
    padding-left: 1rem;
    display: none;
}
.holder {
    position: relative;
    color: #2c3e50;
    transition: color .15s ease;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    padding: .35rem 1.5rem .35rem 1.25rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-left: .25rem solid transparent;
}
.holder:after {
    position: relative;
    top: -.12em;
    left: .5em;
    display: inline-block;
    width: 0;
    height: 0;
    content: '\20';
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #ccc;
}
.holder.active:after {
    top: 0;
    border-top: 6px solid #ccc;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.page {
    padding-left: 20rem;
    padding-bottom: 2rem;
    display: block;
}

.page-bd {
    margin-right: 250px;
    padding: 4rem 2.5rem 2rem;
}

blockquote {
    margin: 0;
    margin-bottom: .85em;
    padding: 0 15px;
    color: #858585;
    border-left: 4px solid #e5e5e5;
}
.page-bd ul{
    padding: 0;
    margin: 0;
    margin-bottom: .85em;
    padding-left: 2em;
    list-style-type: disc;
}
.page-bd ul ul {
    list-style-type: circle;
}
.page-nav {
    display: flex;
    min-height: 2rem;
    border-top: 1px solid #eaecef;
    padding-top: 1rem;
    overflow: auto;
}
.page-nav a {
    flex: 1;
    color: #3eaf7c;
}
a:hover {
    color: #40a9ff;
}
.page-nav .next {
    text-align: right;
}

.sitemap {
    margin: 5rem 5rem 0;
    text-align: center;
}
.sitemap a {
    display: block;
}
.hljs,.language-javascript
{display:block;overflow-x:auto;padding:.5em;background:#1E1E1E;color:#DCDCDC}.hljs-keyword,.hljs-literal,.hljs-symbol,.hljs-name{color:#569CD6}.hljs-link{color:#569CD6;text-decoration:underline}.hljs-built_in,.hljs-type{color:#4EC9B0}.hljs-number,.hljs-class{color:#B8D7A3}.hljs-string,.hljs-meta-string{color:#D69D85}.hljs-regexp,.hljs-template-tag{color:#9A5334}.hljs-subst,.hljs-function,.hljs-title,.hljs-params,.hljs-formula{color:#DCDCDC}.hljs-comment,.hljs-quote{color:#57A64A;font-style:italic}.hljs-doctag{color:#608B4E}.hljs-meta,.hljs-meta-keyword,.hljs-tag{color:#9B9B9B}.hljs-variable,.hljs-template-variable{color:#BD63C5}.hljs-attr,.hljs-attribute,.hljs-builtin-name{color:#9CDCFE}.hljs-section{color:gold}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-bullet,.hljs-selector-tag,.hljs-selector-id,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo{color:#D7BA7D}.hljs-addition{background-color:#144212;display:inline-block;width:100%}.hljs-deletion{background-color:#600;display:inline-block;width:100%}